body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
}

html{
    scroll-behavior: smooth;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: #001f7c38;
}


.back-vid{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    mix-blend-mode:overlay;
}


header{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.121);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #72a1dea2;
    z-index: 999;
}

.left{
    display: flex;
    align-items: center;
}

.left img{
    width: 40px;
    margin: 0 15px;
}


header ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 69, 0.326);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #72a1de63;
}

header ul li{
    list-style: none;
}

header ul a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.3s;
    margin: 0 10px;
}

header ul a:hover{
    text-shadow: 0 0 15px black;
}

.box-icons{
    display: flex;
    gap: 40px;
}

.box-icons p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #72a1de;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.box-icons p:hover{
    background-color: #72a1de;
    color: black;
    box-shadow: 0 0 15px #72a1de;
}

.blackhole-box{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
    mix-blend-mode: lighten;
  }
  
.blackhole-box video{
    width: 100%;
    margin-top: -23.5%;
}

.hero{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.hero-info{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-60%);
}

.hero-info .hero-info-title{
    color: #72a1de;
    padding: 8px 5px;
    border-radius: 50px;
    border: 1px solid #72a1de94;
    width: 240px;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de84;
}

.hero-info h1{
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.hero-info p{
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 20px;
}

.hero-info button{
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #72a1de81;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de81;
    cursor: pointer;
    transition: 0.3s;
}

.hero-info button:hover{
    box-shadow: 0 0 15px #72a1de81;
}

/* Gradient Animation */
.gradient{
    background: linear-gradient(to right,#00aaa7, #7e42a7, #6600c5, #6070fd,#2a46ff, #0099ff, #008ead);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient {
    to{
        background-position: 200%;
    }
}

.skills-video-box{
    position: absolute;
    right: 3%;
}

.skills-video{
    height: 900px;
    mix-blend-mode:lighten;
}

@media (max-aspect-ratio: 16/9){
    .back-vid{
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9){
    .back-vid{
        width: 100%;
        height: auto;
    }
}


@media screen and (max-width: 1200px){
    .blackhole-box video{
        margin-top: -20%;
    }

    .hero {
        flex-direction: column;
        align-items: center;
    }

    .hero-info {
        position: relative;
        margin-top: 20px;
    }

    .hero-info h1{
        font-size: 40px;
        max-width: 400px;
        line-height: 40px;
    }

    .hero-info P{
        max-width: 300px;
    }

    .skills-video-box{
        right: 0%;
    }

    .skills-video-box video{
        height: 500px;
    }

    .info-cards{
        grid-template-columns: auto;
    }

    .card:nth-child(3){
        grid-column: span 2;
        height: 70vh;
    }

    .info-cards .card h1{
        font-size: 20px;
    }

    .info-cards .card:nth-child(3) h1{
        bottom: 25%;
    }

    .card video{
        height: 60%;

        margin-top: 5%;
    }

    .my-project{
        margin-bottom: 200px;
        scale: 0.8;
    }

    .contact-section .section-title {
        left: 30%;
    }
}






